html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    
    background-color: hsl(225, 100%, 94%);
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
}

.order-summary {
    width: 90%;
    max-width: 400px;
    margin: 20px;

    border-radius: 20px;
    background-color: white;
}

.header-image {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.padded-area {
    padding: 25px 30px 40px;
    text-align: center;
}

.summary-headline {
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.product-teaser {
    font-family: "Red Hat Display", sans-serif;
    font-size: 1rem;
    color: hsl(224, 23%, 55%);
}

.order-information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 15px;
    margin: 20px 0;
    
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}

.product-icon {
    flex: 1;
    margin: 5px;
}

.payment-information {
    flex: 5;
    padding-left: 10px;
    margin: 5px;
}

.payment-information-schedule {    
    font-family: "Red Hat Display", sans-serif;
    font-size: 1rem;
    font-weight: 900;
    color: hsl(223, 47%, 23%);

    margin: 5px;
    text-align: left;
}

.payment-information-cost {
    font-family: "Red Hat Display", sans-serif;
    font-size: 1rem;
    color: hsl(224, 23%, 55%);
    
    text-align: left;
    margin: 5px;
}

.change-order {
    flex: 2;
    
    font-family: "Red Hat Display", sans-serif;
    font-size: 0.85rem;
    font-weight: 900;
    color: hsl(245, 75%, 52%);
    margin: 5px;

}

.change-order:hover {
    color: hsl(225, 100%, 70%);
    text-decoration: none;
}

.btn {
    display: block;
    
    border: none;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    
    box-shadow: 0px 15px 10px hsl(225, 100%, 94%);
    -webkit-box-shadow: 0px 15px 10px hsl(225, 100%, 94%);
    -moz-box-shadow: 0px 10px 15px hsl(225, 100%, 94%);

    font-family: "Red Hat Display", sans-serif;
    font-size: 0.85rem;
    font-weight: 700;
    color: hsl(225, 100%, 98%);
    text-decoration: none;

    padding: 15px 0;
    margin: 30px 0;
    
    background: #3829e0;
  }
  
  .btn:hover {
    background: hsl(225, 100%, 70%);
    text-decoration: none;
  }

  .cancel-order {
    font-family: "Red Hat Display", sans-serif;
    font-size: 0.85rem;
    font-weight: 900;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
  }

  .cancel-order:hover {
    color: hsl(223, 47%, 23%);
  }